.board {
	height: 50%;
	width: 50%;
	display: inline-block;
	float: left;
	margin: 8%;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px;
	background-color: rgba(255,255,0,1);
	border: 10px black solid;
}

img {
	height: 200px;
	width: 150px;
}

h1 {
		color:rgba(2, 132, 130, 1);
	}

h2 {
		color: #ffd700;
	}

.nick {
	color:red;
}

body {
	text-align: center;
}

nav {
	text-decoration: none;
	background-color: #808080;
	float: left;
	display: block;
}

nav a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

a:hover {
	background-color: #ee5f3c;
}

footer {
	background-color: #808080;
}

